[Unit]
Description=Let's Encrypt renewal

[Service]
Type=oneshot
User=root
ExecStart=/usr/local/bin/certbot renew --quiet --agree-tos
ExecStartPost=/usr/bin/run-parts --regex '.*sh$' /etc/letsencrypt/renewal-hooks/custom